.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  gap: 0.3rem;
  margin-top: 0.4rem;
}

.box {
  border: 2px solid rgba(71, 71, 71, 0.453);
  padding: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 10px;
  max-width: 3rem;
  min-width: 2.2rem;
  font-weight: 500;
  &:hover {
    background-color: #ecf4fd;
  }
}

.selected {
  background-color: #ecf4fd;
  border: 2px solid black;
}
