.price {
  display: flex;
  gap: 1rem;
}

.price p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.priceTag {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 5.5rem;
  padding: 0.1rem 0 0.1rem 0.8rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  height: 3rem;
}

.priceTag input {
  width: 5rem;
  font-size: 1rem;
  /* background-color: blue; */
  border: none;
  border-radius: 10px;
  height: 3rem;
  &:focus {
    outline: none;
  }
}
