.wrapper {
  /* display: flex; */
  padding: 0.7rem 0.5rem 1rem 0.5rem;
}

.section {
  display: flex;
  flex-flow: column;
  max-width: 80rem;
  margin: 0 auto;
  align-items: flex-start;
}

.header {
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 0;
}

.searchbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.inputbox {
  background-color: white;
  position: relative;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid rgba(0, 0, 0, 0.516);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.searchbox {
  display: flex;
  position: relative;
  padding-left: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* overflow-x: hidden; */
}

.textbox {
  overflow-x: hidden;
  display: flex;
  position: relative;
  padding-left: 0.2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

.searchbox i {
  scale: 1.4;
}

.searchfloat {
  position: absolute;
  top: -4%;
  left: -1%;
  background-color: white;
  border-radius: 10px;
  width: 22.5rem;
  min-height: 26.5rem;
  z-index: 9999;
}

.searchfloat input {
  width: 21.2rem;
  color: black;
  border: 1px solid rgba(61, 61, 61, 0.121);
  background-color: white;
  padding-left: 20px;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  height: 4rem;
  outline: none;
}

.errorinput {
  box-shadow: inset 0 0 0 1px #a7183c;
}

.error {
  position: absolute;
  margin: 0;
  top: 100%;
  color: #a7183c;
}

.searchList {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.destinationbutton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 3.7rem;
  background-color: white;
  border: none;
  font-size: 1rem;
  color: black;
}

.destinationbutton:hover {
  background-color: #2f5b854f;
}

.details {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* gap: 5px; */
}

.destinationbutton i {
  transform: scale(0.95);
}

.details h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
}

.details p {
  font-size: 0.9rem;
  color: rgba(64, 64, 64, 0.76);
  margin: 0;
}

.datePicker {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  width: 19rem;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.516);
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 10px;
}

.datePicker h5 {
  margin: 0;
}

.datePicker p {
  margin: 0;
}

.datePicker i {
  scale: 1.4;
}

.dateFlex {
  display: flex;
  flex-flow: column;
}

.calenderwrapper {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: 40rem;
  height: 29rem;
  top: -10%;
  left: -3%;
  background-color: white;
  z-index: 99;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
}

.calender {
  border-radius: 20px 20px 0 0;
  height: 24rem;
  width: 40rem;
}

.calender div {
  border-radius: 10px;
}

.calender span {
  font-size: 1rem;
  color: black;
}

.calenderbutton {
  border-radius: 30px;
  width: 7rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: #1668e3;
  border: none;
  margin-right: 3rem;
}

.calenderbutton:hover {
  background-color: #1655b5;
}

.passenger {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  justify-content: flex-start;
}

.subpassenger {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.subpassenger p {
  margin: 0;
  margin-left: 0.3rem;
}

.subpassenger h5 {
  margin: 0;
}

.floatingpassenger {
  background-color: #ffffff;
  position: absolute;
  width: 17rem;
  min-height: 15rem;
  gap: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  top: 120%;
  left: 0%;
  padding: 0 2rem;
  border-radius: 20px;
  z-index: 99;
}

.another {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 1rem;
  color: #0c57c6;
  font-weight: 800;
  margin: 1rem 0;
}

.another div {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 2rem;
}

.another div:hover {
  background-color: #1668e32b;
  color: #094196;
}

.another button {
  border-radius: 30px;
  width: 6rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 800;
  background-color: #1668e3;
  cursor: pointer;
  border: none;
}

.another button:hover {
  background-color: #1255ba;
}

.action {
  border-radius: 30px;
  width: 6rem;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: #1668e3;
  border: none;
}

.action:hover {
  background-color: #1655b5;
}
