.container {
  position: relative;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  font-size: 1.8rem;
  font-weight: lighter;
  margin: 0;
  padding: 0.5rem 0;
}

.list {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-flow: column;
  gap: -2rem;
  border: 1px solid rgba(34, 34, 34, 0.268);
  border-radius: 20px;
  cursor: pointer;
}

.wrapper img {
  width: 18rem;
  height: 9rem;
  border-radius: 20px 20px 0 0;
}

.name {
  padding: 0.6rem 0 0 0.6rem;
  top: 90%;
  background-color: white;
  height: 4.2rem;
  width: 17.41rem;
  border-radius: 0px 0px 20px 20px;
}

.name h3 {
  font-weight: 500;
  margin: 0;
}

.name p {
  margin: 0;
}

.icon {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 2.6rem;
  height: 2.6rem;
  z-index: 999;
  border: 1px solid rgba(96, 96, 96, 0.532);
}

.left {
  position: absolute;
  top: 45%;
  left: 1%;
}

.right {
  position: absolute;
  top: 45%;
  right: 1%;
}
