.imageWrapper {
  display: flex;
  gap: 5px;
  width: 100%;
  cursor: pointer;
}

.imageWrapper img {
  pointer-events: none;
}

/* body {
  overflow: hidden;
} */

.largeImage {
  /* width: 50%; */
}

.largeImage img {
  width: 32rem;
  height: 18.4rem;

  object-fit: cover;
  background-color: #1668e3;
}

.smallWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.smallImage {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  /* width: 50%; */
  /* gap: 1rem; */
}

.smallImage img {
  width: 15rem;
  height: 9rem;
  margin-right: 5px;
  background-color: #1668e3;
}

.lastImage {
  position: relative;
}

.imageLength {
  position: absolute;
  background-color: rgba(32, 32, 32, 0.598);
  color: white;
  top: 60%;
  right: 5%;
  width: 6rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  &:hover {
    background-color: rgba(32, 32, 32, 0.702);
  }
}
