.heading {
  display: flex;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 1rem;
  color: #203e5a;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.com {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 2.2rem;
}

.icon {
  margin: 1.2rem 0.3rem 0 0;
  color: #2f5b85;
  scale: 0.7;
}

@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 2.2rem;
  }
  .icon {
    scale: 0.9;
    margin: 2.3rem 0.5rem 0 1.2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .heading h1 {
    display: none;
  }
  .icon {
    margin-top: 0;
  }
}
@media only screen and (max-width: 786px) {
  .heading {
    -webkit-tap-highlight-color: transparent;
    font-size: 2rem;
    margin-right: 0.6rem;
  }
  .heading h1 {
    display: block;
  }
  .icon {
    -webkit-tap-highlight-color: transparent;
    scale: 1;
    margin: 2.3rem 0.5rem 0 1.2rem;
  }
}
