.header {
  color: #2f5b85;
  font-size: large;
  cursor: pointer;
  height: 3rem;
  text-align: center;
  margin-top: 2rem;
  /* background-color: blue; */
}

.rewards:hover {
  color: black;
}

.down {
  margin-left: 4px;
}

.floater {
  width: 15rem;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  position: fixed;
  top: 7.4%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(48, 48, 48, 0.17);
  background-color: white;
}
.floater:hover {
  color: #1352b1;
}
