.lodging {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 0;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0.4rem;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.wrapper:hover {
  filter: brightness(0.8);
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.374);
  display: flex;
  margin-bottom: 0.4rem;
  align-items: center;
  z-index: 9;
  justify-content: center;
}

.icon:hover {
  background-color: rgba(98, 98, 98, 0.149);
}

.icon i {
  scale: 2.3;
  color: #1668e3;
}

.subtext {
  margin: 0;
  text-align: center;
}
