.heading {
  font-weight: 400;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  border: 1px solid rgba(0, 0, 0, 0.388);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
}

.icon i {
  scale: 0.6;
}
/* .adultChoice; */
