.wrapper {
  display: flex;
  background-color: blue;
  flex-flow: column nowrap;
  border-radius: 20px;
  height: 12rem;
}

.imagediv {
  /* height: 100%; */
}

.imagediv img {
  height: 12rem;
  width: 18rem;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
