.wrapper {
  display: flex;
  flex-flow: row nowrap;
  max-width: 74.5rem;
  background-color: #2f5b85;
  color: white;
  gap: 1rem;
  justify-content: center;
  border-radius: 20px;
  padding: 1rem 0rem 1rem 0;
  margin: 2rem auto 2rem auto;
}

.header {
  font-weight: 500;
  font-size: 2rem;
  margin-left: 1rem;
  line-height: 2.2rem;
  max-inline-size: 19rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
  padding-right: 10px;
  max-inline-size: 15rem;
  background-color: rgba(19, 19, 19, 0.387);
}

.icon {
  scale: 3;
  margin-left: 2rem;
}
