.wrapper {
  width: 100%;
}

.header {
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

.image {
  width: 10rem;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: fill;
  object-position: center;
}
