.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.464);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-left: 3rem;
}

.icon {
  scale: 2.4;
  margin: 2rem 2rem 0 0;
  font-weight: lighter;
}

.modal {
  position: fixed;
  width: 70vw;
  height: 70vh;
  border-radius: 20px;
  z-index: 999;
  background-color: #ffffff;
  padding-bottom: 10rem;
  overflow: hidden;
}

.imageTile {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  min-height: 80px;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 2rem;
  height: 100%;
  overflow-y: scroll;
}

.imageHeader {
  /* position: absolute;
  font-weight: 500;
  top: -5%;
  left: 0%; */
  margin-left: 3rem;
}

.image {
  display: flex;
  flex-flow: column;
  margin-bottom: 0.5rem;
}

.image img {
  width: 34rem;
  height: 19rem;
  object-fit: cover;
}
