.bodywrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem auto;
}

.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: auto;
  gap: 1rem;
}

.wrapper span {
  /* background-color: #b6cdea; */
  /* background-color: #eadab6; */
}

.loaders {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  width: 50rem;
}

.hotels {
  display: flex;
  flex-flow: column;
}

.hotellist {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
