@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper {
  font-family: 'Montserrat', sans-serif;
}

.loader {
  width: 42px;
  height: 42px;
  border: 6px solid #63a1db85;

  border-bottom-color: #3a70a3;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
